<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<style>
  html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
.custom-button {
      background-color: #00c0d4;
      color: white;
      padding: 10px 20px;
      border: none;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 10px;
      cursor: pointer;
      border-radius: 4px;
    }
</style>
<body>
  <a href="/select-register-card">
    <button class="custom-button">Register Card</button>
  </a>
  <a href="/one-click-payment">
    <button class="custom-button">One Click Payment</button>
  </a>
    <a href="/direct-payment-page">
        <button class="custom-button">Direct Payment</button>
    </a>
</body>
</html>