<!DOCTYPE html>
<html>
<head>
  <title>Payments Method</title>
</head>
<style>
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
.custom-button {
      background-color: #00c0d4;
      color: white;
      padding: 10px 20px;
      border: none;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 10px;
      cursor: pointer;
      border-radius: 4px;
}
</style>
<body>
<a href="/register-card/mada">
    <button class="custom-button">Mada Card</button>
</a>

<a href="/register-card/credit">
  <button class="custom-button">Credit Card</button>
</a>
</body>
</html>

