<!DOCTYPE html>
<html>
<head>
  <title>Payments Method</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<a href="/register-card/mada">
    <button class="custom-button">Mada Card</button>
</a>

<a href="/register-card/credit">
  <button class="custom-button">Credit Card</button>
</a>
</body>
</html>

